Source: lanner-lcd
Section: main/kernel
Priority: extra
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Build-Depends: debhelper (>= 10), dkms, dh-exec
Standards-Version: 3.9.8

Package: lanner-lcd-dkms
Architecture: all
Depends: ${misc:Depends}
Description: lanner-lcd kernel module
 This package installs the lanner-lcd kernel module.
