#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DEB_VERSION_UPSTREAM
export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow

%:
	dh $@ --with dkms

override_dh_auto_install:
	dh_install -p lanner-lcd-dkms src/* usr/src/lanner-lcd-$(DEB_VERSION_UPSTREAM)/

override_dh_dkms:
	dh_dkms -p lanner-lcd-dkms -V $(DEB_VERSION_UPSTREAM)
