Source: drive
Section: net
Priority: extra
Maintainer: Sebastien Delafond <sdelafond@gmail.com>
Build-Depends: debhelper (>= 10), golang-go (>= 1.9), git
Standards-Version: 3.9.8
Homepage: https://github.com/odeke-em/drive

Package: drive
Architecture: amd64 i386 armel armhf arm64
Depends: ${misc:Depends}, ${misc:Depends}
Description: Google Drive tool written in Go language
 Command line tool for managing data on Google drive.
