#!/usr/bin/make -f
# This file is in the public domain.
# You may freely use, modify, distribute, a

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

DPKG_EXPORT_BUILDTOOLS = 1
-include /usr/share/dpkg/buildtools.mk

DESTDIR = $(CURDIR)/debian/drive
export GOPATH=$(CURDIR)
# FIXME
export GOARCH=$(shell dpkg-architecture -qDEB_TARGET_ARCH_CPU)

%:
	dh $@ 

override_dh_clean:
	dh_clean
	rm -rf $(CURDIR)/bin/* $(CURDIR)/pkg/*
	rm -f $(CURDIR)/goinstall.log

override_dh_auto_build-arch:
	cd $(GOPATH)/src/github.com/odeke-em/drive/cmd/drive/ && find * -name '*.go' -exec dirname {} \; | xargs -n1 go install
	cd $(GOPATH)/src/github.com/odeke-em/drive/drive-server/ && find * -name '*.go' -exec dirname {} \; | xargs -n1 go install

override_dh_install-arch:
	mkdir -p $(DESTDIR)/usr/bin
	find $(CURDIR)/bin -type f -exec cp {} $(DESTDIR)/usr/bin/ \;
	mkdir -p $(DESTDIR)/usr/share/icons/hicolor/128x128/mimetypes/
	cp $(CURDIR)/src/github.com/odeke-em/drive/icons/*.png $(DESTDIR)/usr/share/icons/hicolor/128x128/mimetypes/
	cp $(CURDIR)/src/github.com/odeke-em/drive/icons/*.svg $(DESTDIR)/usr/share/icons/hicolor/128x128/mimetypes/
